.loader {
    margin: 300px 600px;
}

.user-card {
    padding: 0 calc(3.5vw + 50px);
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-gap: 25px;
    overflow-x: hidden;
}

@media (max-width: 1250px) {
    .user-card {
        padding: 10px 50px;
    }
}

@media (max-width: 1150px) {
    .user-card {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 10px;
        padding: 10px;
    }
}

@media (max-width: 800px) {
    .user-card {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 10px;
        padding: 10px;
    }
}

@media (max-width: 650px) {
    .user-card {
        display: grid;
        grid-template-columns: auto;
    }
}

@media (max-width: 400px) {
    .user-card {
        display: grid;
        grid-template-columns: auto;
        margin: 30px;
    }
}